<configuration>
    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://localhost:8088</url>
        <token>8789bd48-c6ef-4c55-96a1-6f699c113732</token>
        <index>main</index>
        <sourcetype>springboot</sourcetype>
    </appender>

    <root level="INFO">
        <appender-ref ref="SPLUNK"/>
    </root>
</configuration>
