<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>https://localhost:8088/services/collector/event</url>
        <token>8789bd48-c6ef-4c55-96a1-6f699c113732</token>

        <channel>11111111-1111-1111-1111-111111111111</channel>

        <sourcetype>_json</sourcetype>
        <disableCertificateValidation>true</disableCertificateValidation>

        <index>main</index>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>{"time":"%d{yyyy-MM-dd HH:mm:ss.SSS}", "level":"%level", "logger":"%logger", "message":"%msg"}</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SPLUNK"/>
    </root>

</configuration>