<configuration>

    <appender name="SPLUNK_HTTP" class="ch.qos.logback.core.net.SocketAppender">
        <remoteHost>host.docker.internal</remoteHost>
        <port>8088</port>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>
